#hiddenImgs {
    width: 100%;
}

#hiddenImgs img {
    width: 45px;
    height: 45px;
    visibility: hidden;
}

#controlDiv {
    width: 60%;
    display: inline-block;
}

#commandDiv {
    width: 35%;
    display: inline-block;
    position: relative;
    bottom: 324px;
}

#commandListDiv {
    width: 64%
}

#commandListDiv img {
    width: 32px;
    height: 32px;
}

#cmdPalleteDiv {
    width: 35%;
    float: right;
    padding-right: 64px;
    position: relative;
    bottom: 100px;
}

.commandImgTile {
    float: inherit;
    clear: right;
    width: 28px;
    height: 28px;
}